{% extends "base.html" %}

{% block content %}
<body>
  <div class="body">
    <h2>Login</h2>
    <form class="form-border" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">login</button>
    </form>
  </div>
</body>
{% endblock content %}



{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css"/>
  <title>Login</title>
</head>
<body>
  <h1>Welcome!</h1>
  <h3>Login</h3>
  <form action="">
    <input type="email" placeholder="email">
    <input type="password" placeholder="password">
    <button>login</button>
    <!-- need JS for button to submit -->
  </form>
  <br>
  <a href=""></a>
</body>
</html> {% endcomment %}