.body {
  text-align: center;
}

.header {
  padding: 30px;
  background: #52B9B7;
  text-align: center;
}

.header p {
  float: right;
  padding-bottom: 4px;
}

.nav-top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
  /* background-color: #b29ac3; */
}

li {
  /* display: inline; */
  float: left;
}

a {
  text-decoration: none;
  color: #52B9B7;
}

li a {
  display: block;
  background-color: #dddddd;
  /* background-color: #b29ac3; */
  /* color: #52B9B7; */
  text-align: center;
  padding: 14px 16px;
  /* text-decoration: none; */
}

/* Add a lavender background color to dropdown links on hover */
li a:hover {
  background-color: #b29ac3;
}

.form-border {
  border: 3px solid black;
  padding-bottom: 12px;
  margin-right: 300px;
  margin-left: 300px;
}

.input-box {
  width: 20%;
}

/* Mobile Design */
@media (max-width: 414px) {
  .input-box {
    width: 80%;
  }
}

/* Tablet Design */
@media (min-width: 768px) and (max-width: 1024px) {
  .input-box {
    width: 35%;
  }
}



/* Desktop Design */
/* @media (min-width: 1025px) {
  form {
      display: flex;
      justify-content: center;
      align-items: center;
  }
} */