{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add An Item</title>
</head>
<body>
  <h1>Create Pantry or Add An Item</h1>
  <!-- optional add photo button? -->
  <input type="text" placeholder="add an item to your pantry">
  <input type="number" placeholder="minimum quantity to always have stored">
  <button>submit to pantry</button>
  <!-- store this info in "My Pantry" -->
</body>
</html> {% endcomment %}



{% comment %} {% extends 'pantry_trackr/base.html' %}
{% block title %}
Add An Item
{% endblock %} {% endcomment %}
 
{% block content %}
	<h3>Create Pantry or Add An Item</h3>
	<br>
	<form method="post" action="/add-item/" class="form-group">
		{% csrf_token %}
		<div class="input-group mb-3">
	  		<div class="input-group-prepend">
	  		<button name="save" type="submit" class="btn btn-success">submit to pantry</button>
	  		</div>
	  		{{form.name}}
		</div>
	</form>
{% endblock %}