{% extends "base.html" %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add An Item</title>
</head>
<body>
  <h1>Create Pantry or Add An Item</h1>
  <!-- optional add photo button? -->
  <input type="text" placeholder="add an item to your pantry">
  <input type="number" placeholder="minimum quantity to always have stored">
  <button>submit to pantry</button>
  <!-- store this info in "My Pantry" -->
</body>
</html> {% endcomment %}



{% comment %} {% extends 'pantry_trackr/base.html' %}
{% block title %}
Add An Item
{% endblock %} {% endcomment %}
 
{% block content %}
<body>
	<div class="body">
		<h3>Create Pantry or Add An Item</h3>
		<br>
		<form method="post" action="{% url 'users:my-pantry' %}">
			{% csrf_token %}
			<div>
				<input class="input-box" type="text" placeholder="item to add to pantry">
				<br><br>
				<input class="input-box" id="quantity_min" type="text" placeholder="minimum quantity to always have in pantry"><br><br>
				<input class="input-box" id="quantity_now" type="text" placeholder="current quantity in your pantry now"><br><br>
				<button type="submit">submit to pantry</button>
				{% comment %} {{form.name}} {% endcomment %}
			</div>
		</form>
	</div>
</body>
{% endblock %}


{% comment %} submit input to 'My Pantry' {% endcomment %}