{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}Pantry Trackr{% endblock %}</title>
</head>
<body>
    <div class="header">
        <h1 class="app-name">Pantry Trackr</h1>
    </div>
    <ul class="nav-top">
        <li><a href="{% url 'users:home' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'users:my-pantry' %}">My Pantry</a></li>
        {% comment %} <li><a href="{% url 'users:add-item' %}">Add Item To Pantry</a></li> {% endcomment %}
        {% comment %} <li><a href="{% url 'users:used-item' %}">Used A Pantry Item</a></li>
        <li><a href="{% url 'users:shopping-list' %}">My Shopping List</a></li> {% endcomment %}
        <li><a href="{% url 'users:logout' %}">Logout, <em>{{ user.username }}</em></a></li>
        {% endif %}
    </ul>
    
	{% block content %}
	{% endblock content %}
    </div>

</body>
</html>