{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}Pantry Trackr{% endblock %}</title>
</head>
<body>
    <div class="header">
        <h1 class="app-name">Pantry Trackr</h1>
    </div>
    <ul class="nav-top">
        <li><a href="{% url 'users:home' %}">Home</a></li>
        <li><a href="{% url 'users:my-pantry' %}">My Pantry</a></li>
        <li><a href="{% url 'users:add-item' %}">Add Item To Pantry</a></li>
        {% comment %} <li><a href="{% url 'users:used-item' %}">Used A Pantry Item</a></li>
        <li><a href="{% url 'users:shopping-list' %}">My Shopping List</a></li> {% endcomment %}
        <li><a href="{% url 'login' %}">Logout, <em>{{ user.username }}</em></a></li>
    </ul>
    
    {% comment %} <div class='sub-header'>
        {% if user.is_authenticated %}
        <p>Hello, <a href="{% url 'users:profile' request.user.username %}">{{ request.user.username }}</a>!</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
        <p><a href="{% url 'posts:new' %}">+ New Blog Post</a></p>
        {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
        <p><a href="{% url 'users:signup' %}">Sign Up</a></p>
        {% endif %}
    </div> {% endcomment %}
    <div id="content" name="content">
	{% block content %}
	{% endblock content %}
    </div>

</body>
</html>