{% extends "base.html" %}


  {% comment %} <div>
    output of add-item including item name and minimum quantity
    include current quantity in pantry
    item name, num currently in pantry, num needed
  </div> {% endcomment %}


{% block title %}
My Pantry
{% endblock %}

{% block content %}
<body>
  <div class="body">
    <h2>My Pantry</h2>
    {% comment %} <form method="post" action="">
      <h3>Add An Item</h3>
			{% csrf_token %}
			<div>
				<input class="input-box" id="item_name" name="item_name" type="text" placeholder="item to add to pantry">
				<br><br>
				<input class="input-box" id="quantity_min" name="quantity_min" type="text" placeholder="minimum quantity to always have in pantry"><br><br>
				<input class="input-box" id="quantity_now" name="quantity_now" type="text" placeholder="current quantity in your pantry now"><br><br>
				<button type="submit">submit to pantry</button>
			</div>
		</form>
    <br><br> {% endcomment %}

    <div>
      {% for item in items %}
        
        <p><strong>Pantry Item:</strong> {{ item.item_name }}</p>
        <p><strong>Minimum Quantity:</strong> {{ item.quantity_min }}</p>
        <p><strong>Current Quantity:</strong> {{ item.quantity_now }}</p>
      {% endfor %}
    </div>


    {% comment %} <form method="post" action="">
      {% csrf_token %}
      <input type="number" value="0" id="input"/> {% endcomment %}
      {% comment %} value is input of quantity min OR currently have in My Pantry {% endcomment %}
      {% comment %} <button id="subtract">-</button>
    </form> {% endcomment %}

    {% comment %} <h1>{{ls.name}}</h1> {% endcomment %}
    {% comment %} {% if object_list %} {% endcomment %}
      {% comment %} <p>{% for item in object_list %}</p>
        <p>{{ item.name }}</p> {% endcomment %}
        {% comment %} {% if photo %}
        {% else %}
        {% endif %}
        <p>photo</p> {% endcomment %}
    {% comment %} {% else %}
      <p><strong>Nothing has been added to your Pantry.</strong> <em>Add an item <a href="add-item.html">here</a>.</em></p> {% endcomment %}
      {% comment %} {% endfor %} {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
  </div>
</body>

<script>
  {% comment %} if (current_input == quantity_min) {
    output that item to 'shopping-list.html'
  } {% endcomment %}

  let input = document.getElementById("input")
  let btn = document.getElementById("subtract")

  btn.addEventListener('click', event => {
    event.preventDefault();
    const currentValue = Number(inputField.value) || 0;
    inputField.value = currentValue - 1;
  });
</script>
{% endblock %}