{% extends "base.html" %}


  {% comment %} <div>
    output of add-item including item name and minimum quantity
    include current quantity in pantry
    item name, num currently in pantry, num needed
  </div> {% endcomment %}


{% block title %}
My Pantry
{% endblock %}

{% block content %}
<body>
  <div class="body">
    <h2>My Pantry</h2>
    {% comment %} <h1>{{ls.name}}</h1> {% endcomment %}
    {% comment %} {% if object_list %} {% endcomment %}
      <p>{% for item in object_list %}</p>
        <p>{{ item.name }}</p>
        {% comment %} {% if photo %}
        {% else %}
        {% endif %}
        <p>photo</p> {% endcomment %}
    {% comment %} {% else %}
      <p><strong>Nothing has been added to your Pantry.</strong> <em>Add an item <a href="add-item.html">here</a>.</em></p> {% endcomment %}
      {% endfor %}
    {% comment %} {% endif %} {% endcomment %}
  </div>
</body>

<script>
  {% comment %} if (current_input == quantity_min) {
    output that item to 'shopping-list.html'
  } {% endcomment %}
</script>
{% endblock %}