<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping List</title>
</head>
<body>
  <h1>Shopping List</h1>
  <h4><em>When you have notified Pantry Trackr that you have used an item, if that item is at or below its minimum quantity, that item will be automatically added to 'Shopping List' so you can pull the list up when you are shopping without planning ahead.</em></h4>
  <div>
    output when quantity minimum has hit, auto output here
  </div>
</body>
</html>